/* Reset một số kiểu mặc định */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #cdcdf0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    margin: 0;
}

.navbar-menu li {
    margin: 0;
}

.navbar-menu a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-menu a:hover {
    background-color: #575757;
    color: #ffd700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-image {
    flex: 1;
    text-align: center;
}

.profile-image img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.profile-info {
    flex: 2;
}

.profile-info h1 {
    margin: 0;
    font-size: 2em;
}

.profile-info p {
    margin: 5px 0;
}

