body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url('https://images.pexels.com/photos/701877/pexels-photo-701877.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.navbar {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 8px;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Cho phép wrap trong navbar */
}

.navbar li {
    margin: 0 15px;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 0;
    transition: color 0.3s;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.4s ease, left 0.4s ease;
}

.navbar li:hover a::after {
    width: 100%;
    left: 0;
}

.content {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
}

.navbar li:hover .submenu {
    display: block;
    opacity: 10;
}

.submenu li {
    width: 250px;
}

.submenu a {
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Cho phép các cột bẻ xuống dưới khi không đủ không gian */
    justify-content: space-around; /* Giữ khoảng cách giữa các cột */
    padding: 20px;
}

.column {
    flex: 1 1 200px; /* Các cột có thể co dãn và chiều rộng tối thiểu là 200px */
    padding: 10px;
    box-sizing: border-box;
}

.bo {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.lop1 {
    width: 100%;
    height: auto;
}

.lop2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.1s;
}

.bo:hover .lop2 {
    opacity: 1;
}

.p {
    text-align: center; /* Căn giữa text dưới ảnh */
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row; /* Giữ menu theo chiều ngang trên màn hình nhỏ */
        margin-bottom: 20px; /* Thêm khoảng cách dưới navbar */
        width: 95%; /* Đặt chiều rộng của navbar là 100% */
        justify-content: center;
    }

    .hero {
        height: 50vh; /* Giảm chiều cao hero */
    }
}

@media (max-width: 480px) {
    .navbar li {
        margin: 5px 0; /* Giảm khoảng cách giữa các mục */
    }
}